$black: #000;
$white: #fff;
$green: #7ba136;
$grey: #252525;
$grey-med: #464646;
$grey-light: #989898;
$off-white: #f0f0f0;
$bg-color: $white;
$main-family: 'nudista-web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$bold: 700;
$semi-bold: 600;
$medium: 400;